.highlight1 {
  background-color: rgb(194, 216, 255);
}

.highlight-l {
  background-color: #f9b6ff;
}

.highlightI {
  background-color: #ff8dc6;
}

body {
  font-family: Arial, sans-serif;
  margin: 40px;
}

ul li {
  cursor: pointer;
  padding: 4px 0;
}

